<h1>Edit <%= @artist.name %></h1>

<%= render 'form' %>

<button type="button" name="button" class="btn btn-default">
  <i class="glyphicon glyphicon-chevron-left"></i><%= link_to ' Back to Show', artist_path(@artist) %>
</button>
