<div class="songs-index col-md-12">
  <% @artist.songs.each do |song| %>
    <div class="jumbotron">
      <p><%= song.title %></p>
      <button type="button" name="remove-song" class="remove-artist btn btn-default" >
        <%= link_to 'Remove song', '#' %>
      </button>
    </div>
  <% end %>
</div>
